* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.form {
  background-image: linear-gradient(rgb(21, 131, 221), rgb(46, 148, 173));
}
.btn {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}
input {
  margin: 10vh 0px;
  width: 500px;
  border-radius: 7px;
  outline: 0;
  border: 0;
}
.search {
  position: relative;
  left: -3.8%;
  border-radius: 0px 7px 7px 0;

  box-shadow: 1px 1px 1px 1px;
  background-color: yellowgreen;
}
img {
  width: 30vw;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
}
